html {
    background-color: #3b2766;
}
body {
    font-family: "Signika", sans-serif;
    color: black;
    text-shadow: 2px 2px 5px #00000021;
}
.mainbcontainer {
    background-color: #faf9f5;
    border-radius: 10px;
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: black;
    box-shadow: 3px 3px 8px #0000007a;
}
.pytaniediv {
    background-color: #faf9f5;
    border-radius: 10px;
    width: 450px;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 2px 2px 8px #00000021;
}
.mainbcontainer h2 {
    font-size: 30px;
}
#share {
    font-size:30px;
    color:rgba(0, 0, 0, 0.13);
    text-shadow: 0px 0px 0px;
}
.mainb {
    display: inline;
    margin: auto 0;
    margin: 19px;
    padding: 16px 40px;
    border-radius: 15px;
    cursor:pointer;
}
.mainb uoa {
    font-size: 27px;
    color: #f8f7f2;
    text-shadow: 2px 2px 5px #00000063;
}
#prawda {
    background-image: linear-gradient(191deg,#23b2ff 0%,#2476FF 80%);
    box-shadow: 0px 5px 7px #23b2ffbe;
}
#wyzwanie {
    background-image: linear-gradient(191deg,#ff7600 0%,#FF1858 80%);
    box-shadow: 0px 5px 7px #ff3c00ab;
}
/* .footer {
    position: absolute;
    bottom: 0px;
} */
.pytanie {

}
@media screen and (max-width: 500px){
    .pytaniediv {
        width: 80%;
    }
    .mainbcontainer {
        width: 60%;
    }
    .mainb uoa {
        font-size: 100%;
    }
    .mainbcontainer h2 {
        font-size: 100%;
        padding: 10px;
    }
    .mainbcontainer {
        align-items: center;
        display:block;
        justify-content: space-between;
        margin-top: 20px;
        color: black;
    }
    .mainb {
        width: 40%;
    }
}
/* @media screen and (max-width: 300px){
    .mainb {
        width: 40%;
    }
} */