* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    color: aliceblue;
    /* background-color: black; */
}
body {
    background: linear-gradient(245.58deg, #653886 0%, #291d3b 28.53%, #0c0714 75.52%);
    width: 100vw;
    height: 100vh;
}
.main {
    background-color: rgba(0, 0, 0, 0.099);
    backdrop-filter: blur(5px);
    width: 750px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 800px;
    padding: 50px;
    border-radius: 30px;
}
.bacas {
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.bacas img {
    height: 200px;
      animation: float 6s ease-in-out infinite;
}
h1 {
    text-align: center;
    text-shadow: 7px 5px 6px #0c0714aa;
}
h3 {
     text-align: center;
}
label {
  margin: 10px;
}

input {
    color: #000;
    padding: 6px 10px;
    margin: 10px;
    border-radius: 10px;
    border: solid 3px aliceblue;
}
@keyframes float {
	0% {
		transform: translatey(-90px);
	}
	50% {
		transform: translatey(90px);
	}
	100% {
		transform: translatey(-50px);
	}
}